body {
  flex-direction: column; /* Устанавливаем направление, если нужно (по умолчанию горизонтально) */
  align-items: center; /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали, если не указано иное */
  background-color: antiquewhite;
  font-family: Verdana, 'Roboto', sans-serif; /* Убираем избыточность */
  font-size: 16.5px;
  height: 10%; /* Устанавливаем высоту, чтобы justify-content работал */
  margin: 100; /* Убираем отступы по умолчанию */
}
.Total{
  align-items: left;

}
div{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.div_main{
  justify-content: center;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.btn {
  border: none;
  font-family: 'Verdana';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 15px;
  width: 500px;
}
.btn:after {
  content: '';
  position: center;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  background: #3498db;
  color: #fff;
}

.btn-1:hover {
  background: #2980b9;
}

.btn-1:active {
  background: #2980b9;
  top: 2px;
}

.btn-1:before {
  position: center;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.btn-1:disabled{
    background:#c9d6dfd7;
  color:#000000b2;
  }
  .input_w600{
    width: 450px;
 }

  .input_w600-error{
    width: 450px;
 }
  .input_w680{
    width: 680px;
  }
  .input_w680-error{
    width: 680px;
  }

 input{
  border: 1px solid #ced4da;
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 0.25rem;
  border-color: #ced4da;
  border-color: #ced4da;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 10px;
  height: 40px;
  background-color: #fff;
  padding-right: 10px;
}
.input_error{
  border: 1px solid #ced4da;
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 0.25rem;
  border-color: #ced4da;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  padding-left: 10px;
  height: 40px;
  padding-right: 1em;
  border-color: #e26647;
  outline: 0;
  padding-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243, 77, 35, 0.6);
  background: url('exclamation-circle.svg') no-repeat 98%  #fff;

}
span{
  color:red;
}
select {
  border: 1px solid #ced4da;
  color: black;
  height: 40px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 0.25rem;
  border-color: #ced4da;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;  
}
.select_w1350{
  width: 1370px;
}
.input_w1350{
  width: 1370px;
}
.select_w450{
  width: 450px;
}
label{
  margin-top: 10px;
}
.select_w450:focus,
.input_w600:focus,
.input_w680:focus,
.select_w1350:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.input_w600-error:-webkit-autofill,
.input_w600:-webkit-autofill,
.input_w680:-webkit-autofill,
.input_w680-error:-webkit-autofill,
.select_w1350:-webkit-autofill,
.select_w450:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px white inset; 
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0 30px white inset;
}

.table-container {
  width: 100%; /* Растягиваем контейнер на всю ширину */
  overflow-x: auto; /* Добавляем прокрутку по горизонтали в случае необходимости */
}

table {
  width: 100%; /* Таблица займет всю ширину контейнера */
  border-collapse: collapse; /* Убираем двойные границы */
}

th, td {
  border: 1px solid #000000; /* Добавляем границу для ячеек */
  padding: 8px; /* Отступы внутри ячеек */
  text-align: center; /* Выравнивание текста в ячейках */
}

th {
  background-color: #00000042; /* Цвет фона для заголовков */
  position: sticky; /* Чтобы заголовки оставались на месте при прокрутке */
  top: 0; /* Поднимаем заголовки на верх */
}

.container {
  max-width: 800px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрируем контейнер */
  padding: 20px; /* Внутренние отступы */
}

.card-container {
  display: flex; /* Используем флекс для размещения карточек */
  flex-direction: column; /* Располагаем элементы в колонку */
  gap: 20px; /* Промежуток между карточками */
  margin: 20px 0; /* Горизонтальные отступы, только сверху и снизу */
}

.card {
  background-color: #f9f9f9; /* Цвет фона карточки */
  border: 1px solid #ddd; /* Граница карточки */
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для карточки */
  padding: 15px; /* Внутренние отступы в карточке */
  width: 100%; /* Полная ширина карточки */
}

.card-header {
  display: left; /* Используем флекс для расположения заголовков */
  justify-content: space-between; /* Располагаем заголовки с равными промежутками */
  padding: 10px; /* Внутренние отступы для заголовков */
  border-radius: 8px; /* Скругляем углы заголовков */
  margin-bottom: 10px; /* Отступ снизу от заголовков */
}

.card-row {
  display: left; /* Используем флекс для размещения значений в строке */
  border-bottom: 1px solid #ddd; /* Добавляем разделительную линию между записями */
  padding: 10px 0; /* Отступы для каждой строки */
}

.card-item {
  flex: 1; /* Равномерное распределение ширины каждого элемента */
  text-align: left; /* Центрируем содержимое */
}

.card-item label {
  display: block; /* Делаем метку блочным элементом */
  margin-bottom: 5px; /* Отступ между меткой и значением */
}

.card-content p {
  margin: 0; /* Убираем отступы между элементами p */
}

.button-container {
  display: center; /* Используем flexbox для выравнивания кнопки */
  padding: 10px 0; /* Отступы вокруг кнопки для визуального комфорта */
  width: 100%; /* Устанавливаем ширину контейнера кнопки в 100% */
  box-sizing: border-box; /* Учитываем отступы в ширине */
}

/* Стили для кнопок */
.button-container button {
  padding: 5px 15px; /* Отступы для самой кнопки */
  background-color: #007bff; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Скругляем углы кнопки */
  cursor: pointer; /* Курсор при наведении */
  transition: background-color 0.3s; /* Плавный переход при наведении */
}

.button-container button:hover {
  background-color: #0056b3; /* Изменение цвета при наведении */
}

.card-item.full-width {
  flex-basis: 100%; /* Элемент занимает всю ширину */
  text-align: left; /* Левое выравнивание текста для удобства чтения */
}

.center-div {
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  height: 10%; /* Высота 100% окна, чтобы центрировать по вертикали */
}
